@page "/patients/edit/{id:int}"
@inject PatientRepository repository
@inject NavigationManager navigationManager


<PageTitle>Modifica Paziente</PageTitle>
<h1>Modifica Paziente</h1>

<a href="/patients">Torna indietro</a>

<hr class="my-4">
@if (model == null)
{
    <p>ID paziente non valido o paziente non trovato.</p>
}
else
{
    <EditForm Model="model" OnValidSubmit="@SaveAsync" class="needs-validation" novalidate>
        <DataAnnotationsValidator />
        <div class="row g-3">
            <div class="col-12">
                <label for="Title">Title</label>
                <select id="Title" @bind="model.Title" class="form-select">
                    <option value="" selected>Seleziona...</option>
                    <option value="Sig.re">Signore</option>
                    <option value="Sig.ra">Signora</option>
                    <option value="Dott.">Dottore</option>
                    <option value="Dott.ssa">Dottoressa</option>
                    <option value="Proff.">Professore</option>
                    <option value="Proff.essa">Professoressa</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <label>Nome:*</label>
                <InputText id="FirstName" @bind-Value="model.FirstName" class="form-control" autocomplete="off" />
                <ValidationMessage For="@(() => model.FirstName)" />
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <label>Cognome:*</label>
                <InputText id="LastName" @bind-Value="model.LastName" class="form-control" autocomplete="off" />
                <ValidationMessage For="@(() => model.LastName)" />
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <label>Data di Nascita (es: 31/12/1979):*</label>
                <input type="date" class="form-control" @bind="model.DateOfBirth" />
                <ValidationMessage For="@(() => model.DateOfBirth)" />
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <label>Luogo di Nascita:*</label>
                <InputText id="PlaceOfBirth" @bind-Value="model.PlaceOfBirth" class="form-control" autocomplete="off" />
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <label>Sesso:</label>
                <div class="form-check form-check-inline">
                    <input type="radio" checked="@(model.Gender == "Maschio")"
                           name="Gender" @onchange="@(() => model.Gender = "Maschio")" />
                    <label class="form-check-label" for="genderMale">Maschio</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" checked="@(model.Gender == "Femmina")"
                           name="Gender" @onchange="@(() => model.Gender = "Femmina")" />
                    <label class="form-check-label" for="genderFemale">Femmina</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" checked="@(model.Gender == "Altro")"
                           name="Gender" @onchange="@(() => model.Gender = "Altro")" />
                    <label class="form-check-label" for="genderFemale">Altro</label>
                </div>
            </div>
        </div>


        <div class="row g-3">
            <div class="col-12">
                <label>Numero di telefono:</label>
                <input type="tel" class="form-control" @bind="model.PhoneNumber">
                <ValidationMessage For="@(() => model.PhoneNumber)" />
            </div>
        </div>

        <div class="form-group">
            <label>Indirizzo email:*</label>
            <input type="email" class="form-control" @bind="model.Email" placeholder="name@example.com" />
            <ValidationMessage For="@(() => model.Email)" />
        </div>
        <hr class="my-4">
        <button type="submit" class="w-100 btn btn-primary btn-lg">Salva</button>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Patient model;

    protected override async Task OnParametersSetAsync()
    {
        model = await repository.GetByIdAsync(Id);
    }

    private async Task SaveAsync()
    {
        await repository.UpdateAsync(model);
        navigationManager.NavigateTo("/patients");
    }
}