@page "/patients"
@inherits PatientsBase

<PageTitle>Pazienti</PageTitle>
<h1>Pazienti</h1>
<hr class="my-4">

<div class="mb-3">
    <label for="search" class="form-label">Cerca il paziente <i>(nome, cognome or entrambi):</i></label>
    <input type="text" class="form-control" id="search" @bind="SearchTerm" @oninput="SearchPatients" autocomplete="off" />
</div>

@if (DisplayedPatients == null || DisplayedPatients.Count == 0)
{
    <hr class="my-4">
    <p>Nessun paziente trovato.</p>
}
else
{
    <Pagination CurrentPage="CurrentPage"
                TotalPages="TotalPages"
                SelectedPage="HandleSelectedPage"
                PreviousPage="PreviousPage"
                NextPage="NextPage" />
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Paziente</th>
                <th>Data di Nascita</th>
                <th>Visitato</th>
                <th>Azioni</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var patient in DisplayedPatients)
            {
                <tr>
                    <td>
                        <a href="/patient/@patient.PatientId/therapies">@patient.Title @patient.FirstName @patient.LastName</a>
                    </td>
                    <td>
                        @patient.DateOfBirth?.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @patient.CreatedDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => NavigateToEditPatient(patient.PatientId)">Modifica</button>
                        <button class="btn btn-danger" @onclick="() => NavigateToDeletePatient(patient.PatientId)">Rimuovi</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <Pagination CurrentPage="CurrentPage"
                TotalPages="TotalPages"
                SelectedPage="HandleSelectedPage"
                PreviousPage="PreviousPage"
                NextPage="NextPage" />
}