@page "/patients"
@using DottoressaIorio.App.Models
@using DottoressaIorio.App.Data
@inject ApplicationDbContext dbContext
@inject NavigationManager navigationManager

<PageTitle>Patients</PageTitle>
<h1>Patients</h1>


@if (patients == null || patients.Count == 0)
{
    <p>No patients available.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Patient</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in displayedPatients)
            {
                <tr>
                    <td>
                        <a href="/patient/@patient.PatientId">@patient.Title @patient.FirstName @patient.LastName</a>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => NavigateToEditPatient(patient.PatientId)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => NavigateToDeletePatient(patient.PatientId)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Patients Pagination">
        <ul class="pagination">
            <li class="page-item" @onclick="PreviousPage" disabled="@IsFirstPage">
                <a class="page-link" href="#" @onclick:preventDefault>Previous</a>
            </li>
            <li class="page-item">
                <span class="page-link">Page @currentPage of @totalPages</span>
            </li>
            <li class="page-item" @onclick="NextPage" disabled="@IsLastPage">
                <a class="page-link" href="#" @onclick:preventDefault>Next</a>
            </li>
        </ul>
    </nav>
}


@code {
    List<Patient> patients;
    private List<Patient> displayedPatients;
    private int pageSize = 5; // Number of patients per page
    private int currentPage = 1;
    private int totalPages => (int)Math.Ceiling((double)patients.Count / pageSize);
    private bool IsFirstPage => currentPage == 1;
    private bool IsLastPage => currentPage == totalPages;


    protected override void OnInitialized()
    {
        patients = dbContext.Patients.ToList();
        UpdateDisplayedPatients();
    }
    private void UpdateDisplayedPatients()
    {
        int startIndex = (currentPage - 1) * pageSize;
        displayedPatients = patients.Skip(startIndex).Take(pageSize).ToList();
    }
    private void PreviousPage()
    {
        if (!IsFirstPage)
        {
            currentPage--;
            UpdateDisplayedPatients();
        }
    }

    private void NextPage()
    {
        if (!IsLastPage)
        {
            currentPage++;
            UpdateDisplayedPatients();
        }
    }
    private void NavigateToEditPatient(int patientId)
    {
        navigationManager.NavigateTo($"/patients/edit/{patientId}");
    }
    private void NavigateToDeletePatient(int id)
    {
        navigationManager.NavigateTo($"/patients/delete/{id}");
    }
}
