@page "/patients/edit/{id:int}/therapies/create"
@using DottoressaIorio.App.Models
@using DottoressaIorio.App.Data
@inject ApplicationDbContext dbContext
@inject NavigationManager navigationManager

<PageTitle>Aggiungi Terapia</PageTitle>
<h1>Aggiungi Terapia</h1>

<a href="/patient/@Id">Torna indietro</a>
<hr class="my-4">
<EditForm Model="@model" OnValidSubmit="@CreateTherapy">
    <DataAnnotationsValidator />
    <div class="row g-3">
        <div class="col-12">
            <label for="TemplateId">Precompilato:</label>
            <select id="TemplateId" @onchange="TemplateChange" class="form-control">
                <option value="0">Seleziona...</option>
                @foreach (var template in templates)
                {
                    <option value="@template.Id">@template.Title</option>
                }
            </select>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-12">
            <label for="Description">Descrizione:</label>
            <InputTextArea id="Description" @bind-Value="model.Description" class="form-control" />
            <ValidationMessage For="@(() => model.Description)" />
        </div>
    </div>
    <hr class="my-4">
    <button type="submit" class="w-100 btn btn-primary btn-lg">Salva</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private readonly Therapy model = new();
    private List<TherapyTemplate> templates;

    protected override void OnInitialized()
    {
        templates = dbContext.TherapyTemplates.ToList();
    }

    private async Task CreateTherapy()
    {
        model.PatientId = Id;
        model.CreatedDate = DateTime.Now;
        dbContext.Therapies.Add(model);
        await dbContext.SaveChangesAsync();
        navigationManager.NavigateTo($"/patient/{Id}/");
    }

    private void TemplateChange(ChangeEventArgs args)
    {
        var id = (int)(args.Value ?? 0);
        var selected = templates.Find(x => x.Id == id);
        model.Description = selected.Description;
    }
}